[Desktop Entry]
Name=qutebrowser-profile
Comment=Open with qutebrowser-profile
Exec=/home/jonny/github/qutebrowser-profile/qutebrowser-profile --choose %U
Type=Application
Categories=Network;WebBrowser;

#MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
